aiohttp==3.8.5
aiohttp-retry==2.8.3
aiosignal==1.3.1
aiosmtplib==2.0.2
anyio==3.7.1
asgiref==3.7.2
async-timeout==4.0.3
attrs==23.1.0
awscli==1.22.34
bcrypt==3.2.0
blinker==1.6.2
botocore==1.23.34
certifi==2020.6.20
cffi==1.15.1
chardet==4.0.0
charset-normalizer==3.2.0
cliapp==1.20180812.1
click==8.1.7
cmdtest==0.32+git
colorama==0.4.4
cryptography==3.4.8
dbus-python==1.2.18
distro==1.7.0
distro-info===1.1build1
dnspython==2.4.2
docutils==0.17.1
ecdsa==0.18.0
email-validator==1.3.1
fastapi==0.79.1
fastapi-mail==1.2.5
frozenlist==1.4.0
greenlet==2.0.2
h11==0.14.0
httplib2==0.20.2
idna==3.3
importlib-metadata==4.6.4
jeepney==0.7.1
Jinja2==3.1.2
jmespath==0.10.0
keyring==23.5.0
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
Markdown==3.3.6
MarkupSafe==2.1.3
more-itertools==8.10.0
multidict==6.0.4
oauthlib==3.2.0
olefile==0.46
openai==0.27.9
passlib==1.7.4
Pillow==9.0.1
pyasn1==0.4.8
pycparser==2.21
pydantic==1.10.12
Pygments==2.11.2
PyGObject==3.42.1
PyJWT==2.3.0
PyMySQL==1.0.2
pyparsing==2.4.7
python-apt==2.4.0+ubuntu1
python-dateutil==2.8.1
python-dotenv==0.19.1
python-jose==3.3.0
python-multipart==0.0.6
pytz==2023.3
PyYAML==5.4.1
requests==2.25.1
roman==3.3
rsa==4.8
s3transfer==0.5.0
SecretStorage==3.3.1
six==1.16.0
sniffio==1.3.0
SQLAlchemy==1.4.25
starlette==0.19.1
systemd-python==234
tqdm==4.66.1
ttystatus==0.38
twilio==8.5.0
typing_extensions==4.7.1
ufw==0.36.1
unattended-upgrades==0.1
urllib3==1.26.5
uvicorn==0.15.0
wadllib==1.3.6
yarl==1.9.2
zipp==1.0.0
